body {
    #divReactContainer {
        button {
            height: 30px;
            font-weight: bold;
        }

        li {
            font-size: 18pt;
            text-decoration: underline;
        }
    }
}
